body {
    background-color: white;
    overflow: hidden;
    margin: 0px;
}

img {
  width: 200px;
  margin-top: 250px;
}

.footer {
  margin-top: 170px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
}