body {
  margin: 0px;
}

.transaction-section {
  display: none;
  width: 360px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: white;
}

@media(max-width: 360px) {
.transaction-section {
    display: none;
    width: 360px;
    margin: 0px auto;
    padding: 20px 20px 80px;
    background-color: white;
  }
}

.transaction-top {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  font-size: 18px;
  font-weight: bolder;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
}

@media(max-width: 360px) {
  .transaction-top {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #D5D9FF;
    cursor: pointer;
  }
}


.bi-chevron-left {
  font-size: 20px;
  margin-right: 10px;
}

.all-transaction-body {
  background-color: white;
  margin-top: 100px;
}

.yet {
  font-size: 13px;
  color: gray;
}

.transaction-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.transaction-receiver,
.transaction-receiver2,
.withdraw-label{
  font-weight: bold;
}

.transaction-amount {
  text-align: right;
  font-weight: bold;
}

.pending {
  color: #7D88FF;
}

.transaction-line {
  color: lightgray;
  font-size: 9px;
}



.withdraw-section {
  display: none;
  width: 360px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: white;
}

@media(max-width: 360px) {
.withdraw-section {
    display: none;
    width: 360px;
    margin: 0px auto;
    padding: 20px 20px 80px;
    background-color: white;
  }
}

.withdraw-container {
  width: 260px;
  margin: 0px auto;
  display: block;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.withdraw-amount {
  padding: 10px;
  width: 240px;
  margin: 10px 0px;
}

.withdraw-button {
  color: white;
  background-color: #9100FF;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  margin: 20px 0px;
}

.withdraw-button:active {
  background-color: white;
  color: #9100FF;
}

.withdraw-note {
  
}

.clear-history {
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
}
